
img {
    border-radius: 100%;
}

aside {
    padding: 0.5%;
    width: 20%;
    text-align: center;
}

#posicaoRanking {
    background: lightgray;
}

#extratoBem {
    background-color: greenyellow;
}

#classificaoAlunos {
    background-color: turquoise;
}

aside {
    background-color: lightgoldenrodyellow;
}
