<%- include('../partials/header')%>
    <main class="container">
        <div >
            <h1 class="mt-5 mb-5 text-center">Cadastrar Estudante</h1>

            <form action="/estudante/cadastrarEstudante" method="POST" class="form mb-5">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="nomeDoAluno">* Nome:</label>
                        <input class="form-control" type="text" id="nomeDoAluno" name="nome" placeholder="Digite o nome do estudante" required>
                    </div>
    
                    <div class="form-group col-5">
                        <label for="sobreNomeAluno">* Sobrenome:</label>
                        <input class="form-control" type="text" id="sobreNomeAluno" name="sobrenome" placeholder="Digite o sobrenome do estudante" required>
                    </div>

                    <div class="form-group col-3">
                        <label for="dataNascimento">* Data de Nascimento:</label>
                        <input class="form-control" type="date" id="dataNascimento" name="dataNascimento" required>
                    </div>
                </div>

                <div class="row">                  
                    <div class="form-group col-6">
                        <label for="email">* Email do Estudante:</label>                       
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Ex: usuario@gmail.com"  required>
                        </div>                                                 
                    </div>  
                    
                    <div class="form-group col-6">
                        <label for="senha">* Senha de Acesso:</label>                       
                        <input type="password" class="form-control" name="senha" id="senha" placeholder="********" required>                                               
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="escola">* Escola</label>
                        <input class="form-control" type="text" id="escola" name="escola" placeholder="Informe o nome da escola" required>
                    </div>

                    <div class="form-group col-6">
                        <label for="telefone">* Telefone</label>                       
                        <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="(xx) x xxxx-xxxx" onkeypress="$(this).mask('(00) 0000-00009')" required>                                               
                    </div>    
                </div>

                <input class="form-control d-none" id="tipo_usuario" name="tipo_usuario" value="estudante">

                <div class="d-flex justify-content-center">
                    <button class="btn btn-dark" type="submit">Enviar</button>
                </div> 
            </form>
        </div>
    </main>

    <%- include('../partials/footer')%>