<%- include('../partials/header')%>


<section class="headepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="titpage">
                    <h2>Contato</h2>
                </div>

            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row esptop espbot">
            <div class="col-lg-4">
                <h3>Olá!</h3>
                <p>Nós gostamos muito de ouvir notícias, sugestões, críticas e elogios, pois isso nos ajuda a melhorar
                    cada vez mais no nosso propósito de ter impacto positivo no mundo.</p>
                <p>Temos vários canais de contato para que você possa escolher a maneira que mais te agrada para falar
                    conosco.</p>

                <ul class="my-5">
                    <li class="contcad">
                        <span class="icon">
                            <img src="/images/icon-telephone.png">
                        </span>
                        <a href="callto:+5511923456789">11 9 2345-6789</a>
                    </li>
                    <li class="contcad">
                        <a href="https://api.whatsapp.com/send?phone=55###########" target="_blank">
                            <img src="/images/whats.png" />
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=55###########" target="_blank">
                            <span>Whatsapp</span>
                        </a>
                    </li>
                    <li class="contcad">
                        <span class="icon">
                            <img src="/images/icon-envelope.png">
                        </span>
                        <a href="mailto:e-mail@hellogreenworld.com.br" target="_blank">e-mail@hellogreenworld.com.br</a>
                    </li>
                </ul>


            </div>
            <div class="col-lg-8">

                <div class="container">
                    <form action="/cooperativa/cadastrarCooperativa" method="POST" class="form">
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12">
                                <label for="email">Nome:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    <input class="form-control " type="text" id="nome" name="nome"
                                    placeholder="Informe seu nome" required>
                                </div>
                            </div>

                            <div class="form-group col-lg-6 col-sm-12">
                                <label for="email">* Email:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="usuario@email.com" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                            <label for="msgContato">Mensagem:</label>
                            <textarea class="form-control col-12" id="msgContato" rows="15"
                                placeholder="Digite aqui sua mensangem"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button class="buttonform" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer')%>