<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script type="text/javascript" src="../../public/js/jquery-3.6.0.min.js "></script>

    <title>Escola</title>
</head>

<style>
    img {
        border-radius: 100%;
    }
    aside {
        padding: 0.5%;
        width: 20%;
        text-align: center;
    }
    #posicaoRanking {
        background: lightgray;
    }
    aside {
        background-color: lightgoldenrodyellow;
    }
    div{
        background-color: lightgreen;
        width: 50%;
        margin: 1%;
    }
</style>

<body>
    <div>Há 10 sacos de latinhas para vocês buscar na <a href="https://goo.gl/maps/AeWdeJX4XM5QQhH7A" target="_blank">Escola Estadual Domingos Ribeiro de Rezende</a>.</div>
    <div>Há 3 sacos de pet na <a href="https://goo.gl/maps/V9eDAHZGuVU5KpGKA" target="_blank">Escola Estadual Grupo Brasil </a> para vocês buscar.</div>
    <div>Há 15 sacos de latinhas no <a href="https://goo.gl/maps/7HYbXwCU8ixgtBDQA" target="_blank">Colégio Alfa</a> para vocês buscarem.</div>
    <div>Há 5 sacos de vidro na <a href="https://goo.gl/maps/amrWpXzCNqvuvSY78" target="_blank">Creche Municipal Mãe Rosa </a> para vocês buscarem.</div>

    <aside>
        <h1>Ranking</h1>
        <img src="../../public/images/taca.jpg" alt="taça">
        <h2> 1287 xp</h2>
        <a href="#" id="AtivaPosicaoRanking">Ver minha posição no Ranking</a>

        <div id="posicaoRanking">
            1° Cooperativa Recicla - 1700xp <br>
            2° Cooperativa Catalisa - 1400xp <br>
            3° Cooperatica Renovar - 1398xp <br>
        </div>
    </aside>
    <a href="#">Atribuir xp a Escola</a>

    <script src="../../public/js/cooperativa.js"></script>
</body>

</html>