<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
        <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <!-- Script JQuery e Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


        <script src="jquery.min.js"></script>
        <script src="owlcarousel/owl.carousel.min.js"></script> 

        <title>Document</title>
    </head>
    <body>
        <main class="container bg-light">
            <div class="">
                <a href=""><img src=".img/" alt="imagem de sacola de reciclagem verde"></a>
            </div>

            <div class="">
                <a href=""><img src="" alt="imagem de sacola de reciclagem amarela"></a>
            </div>

            <div class="">
                <a href=""><img src="" alt="imagem de sacola de reciclagem vermelha"></a>
            </div>
        </main>
        <section class="container">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <img src="../../public/img/blusa-azul-bege-rubinell.png" alt="">
                        </div>
                        <div class="owl-item">
                            <img src="../../public/img/blusa-bege-listras.png" alt="">
                        </div>
                        <div class="owl-item">
                            <img src="../../public/img/short-azul-arabescos-farm-40.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev">prev</div>
                    <div class="owl-next">next</div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>

        </section>

        <script>
            $(document).ready(function(){
                $(".owl-carousel").owlCarousel();
            });
        </script>
        
    </body>
</html>