<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

    <title>Escola</title>
</head>

<style>
    img {
        border-radius: 100%;
    }

    aside {
        padding: 0.5%;
        width: 20%;
        text-align: center;
    }

    #posicaoRanking {
        background: lightgray;
    }

    #extratoBem {
        background-color: greenyellow;
    }

    #classificaoAlunos {
        background-color: turquoise;
    }

    aside {
        background-color: lightgoldenrodyellow;
    }
</style>

<body>

    <a href="#" id="saco_vidro">Imagem sacola - Minha sacola de vidro encheu</a> <br>
    <a href="#" id="saco_metal">Imagem sacola - Minha sacola de latinha encheu</a> <br>
    <a href="#" id="saco_plastico">Imagem sacola - Minha sacola de pet encheu</a> <br>
    <a href="#" id="saco_tnt">Imagem sacola recicla TNT </a> <br>

    <div id="msgMetal">Parabens! Em breve a Cooperativa Upciclagem irá recolher o seu saco cheio de latinhas! </div>
    <div id="msgPlastico">Mais um saco de garrafas PET a menos no mundo! Em breve a Cooperativa Bio Renova irá recolher
        seu saco.</div>
    <div id="msgVidro"> Muito bem! Você está cada vez mais perto do seu objetivo. Aguarde, em breve a Cooperativa
        Recicla irá recolher esse vidro.</div>
    <div id="msgTnt"> Excelente trabalho! Vocês estão em velocidade dois para alcançar o objetivo.</div>

    <aside>
        <h1>Ranking</h1>
        <img src="/images/taca.jpg" alt="taça">
        <h2> 458 xp</h2>
        <a href="#" id="AtivaPosicaoRanking">Ver minha posição no Ranking</a> <br>
        <a href="#" id="AtivaextratoBem">Ver meu extrato do bem</a> <br>
        <a href="#" id="AtivaclassificaoAlunos">Conferir classificação dos meus alunos</a>

        <div id="posicaoRanking">
            1° Escola Municipal Alfa - 560xp <br>
            2° Creche Mãe Rosa - 470xp <br>
            3° Escola Estadual Brasil - 458xp <br>
            4° Domingo Ribeiro Tavares - 389xp <br>
        </div>
        <div id="extratoBem">
            458.000kg<br>
            Com o lixo arrecadado até agora você já impediu que 10 milhoes de garrafas fossem parar nos oceanos. <br>
            Você já já impediu que fossem gerados 52 kilos de CO2 na atmosfera. <br>
            Você contribuiu para a manutenção do emprego de 148 catadores de reciclável <br>
            Você ajudou a salvar 20 vidas marinhas.
        </div>
        <div id="classificaoAlunos">
            1° João José da Silva - 120xp <br>
            2° Maria Firmino Costa - 78xp <br>
            3° Francisca da Silva - 59xp
        </div>
    </aside>

    <a href="#">Distribuir xp para meus alunos</a>
    
    <script src="/js/escola.js"></script>
</body>

</html>