<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
     <title>Area do Aluno</title>
</head>

<style>
    img {
        border-radius: 100%;
    }
    aside {
        padding: 0.5%;
        width: 20%;
        text-align: center;
    }
    #posicaoRanking {
        background: lightgray;
    }
    #extratoBem {
        background-color: greenyellow;
    }
    #classificaoAlunos {
        background-color: turquoise;
    }
    aside {
        background-color: lightgoldenrodyellow;
    }
    img {
        height: 15vh;
    }
</style>

<body>

    </section>
    <p>Chegou a hora de testar seus conhecimentos. Valendo 10 xps! Clique nos resíduos que você deve trazer para a
        escola no dia da coleta.</p>
    <section>
        <img src="/images/reciclavelJogo/bebida1.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/bebida2.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/naoRecicla1.jpg">
        <img src="/images/reciclavelJogo/bebida3.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/bebida4.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/naoRecicla2.jpg">
        <img src="/images/reciclavelJogo/bebida5.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/bebida6.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/naoRecicla3.jpg">
        <img src="/images/reciclavelJogo/bebida7.jpg" class=" verdadeiro">
        <img src="/images/reciclavelJogo/naoRecicla4.jpg">
    </section>

    <aside>
        <h1>Ranking</h1>
        <img src="/images/taca.jpg" alt="taça">
        <h2> 74 xp</h2>
        <a href="#" id="AtivaPosicaoRanking">Ver minha posição no Ranking</a> <br>
        <a href="#" id="AtivaExtratoBem">Ver meu extrato do bem</a> <br>

        <div id="posicaoRanking">
            1° Mariana da Silva - 140xp <br>
            2° Marcela Rosa Veloso - 137xp <br>
            3° Gustavo Lima Duarte - 98xp <br>
        </div>
        <div id="extratoBem">
            120kg<br>
            Com o lixo que você arrecadou até agora já impedimos que 1000 garrafas fossem parar nos oceanos. <br>
            Você já ajudou a proteger a vida de 245 baleias que vivem próximo ao litoral do Brasil. <br>
            Você ajudou a garantiu o trabalho de 25 catadores de material reciclável<br>
        </div>
    </aside>

    <a href="#">Trocar meus XPs por prêmios incríveis</a>

    <script src="/js/estudantes.js"></script>
</body>

</html>