<%- include('../partials/header')%>


<section class="headepage1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="titpage">
                    <h2>Faça seu<br> <span>LOGIN</span></h2>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mt-5 text-center text-uppercase">Insira seus dados para logar</h2>
                <form action="/login" method="POST" class="formlog">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="autor">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" required>
                    </div>
                    <button type="submit" id="btn_enviar" class="buttonform">Logar</button>
                    <a href="/" class="buttonform2">Voltar</a>

                </form>
            </div>
            <div class="col-lg-6">
                <img class="imgfull" src="/images/img-contact.jpg">
            </div>
        </div>

    </div>
</section>

<%- include('../partials/footer')%>