<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="titfooter">Sobre o Projeto</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui felis, iaculis nec est ac, interdum
            laoreet enim. Phasellus finibus eget.</p>
          <a href="#" class="buthome01">Clique Aqui</a>

        </div>
        <div class="col-lg-4">
          <h2 class="titfooter">Menu</h2>
          <ul class="menufooter">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre o Projeto</a></li>
            <li><a href="#">Resgate seus prêmios</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2 class="titfooter">Contato</h2>
          <ul>
            <li class="contfooter">
              <span class="icon">
                <img src="/images/icon-address.svg"> 
              </span>
              <strong>Hello Green World</strong><br>
              Rua da Esperança, 2021<br>Existe Solução - Soul
            </li>
            <li class="contfooter">
              <span class="icon">
                <img src="/images/icon-telephone.svg"> 
              </span>
              <a href="callto:+5511923456789">11 9 2345-6789</a>
            </li>
            <li class="contfooter">
              <span class="icon">
                <img src="/images/icon-envelope.svg"> 
              </span>
              <a href="mailto:e-mail@hellogreenworld.com.br">e-mail@hellogreenworld.com.br</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  

  <a href="#top" id="topo"><i class="fa fa-arrow-circle-o-up"></i></a>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
          <div>
            <a href="https://api.whatsapp.com/send?phone=55###########" target="_blank">
                <img class="whatsapp" src="/images/whatsapp-icon.png" />
            </a>
        </div>

  <script src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>
</body>

</html>