<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">

        <!-- Script JQuery e Bootstrap-->
        <script src="/js/jquery-3.6.0.min.js"></script>

        <script src="/js/bootstrap.js"></script>

        <script src="/js/bootstrap.bundle.js"></script>

        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>

        <script>
            $(document).ready(function () {
                // configuração botão de seta para cima no scroll
                var janela = $(window);

                janela.on('scroll', function () {
                if (janela.scrollTop() < "400") {
                    $("#setaParaCima").css({ visibility: 'hidden' });
                } else {
                    $("#setaParaCima").css({ visibility: 'visible', scrollTop: 'smooth' });
                }
                })

                $("#setaParaCima").click(function (){
                $('html').animate({scrollTop: '0px'}, 600);
                });

            });

            // botão de libras
            new window.VLibras.Widget('https://vlibras.gov.br/app');

            // função para submeter termo de pesquisa digitado na barra de busca do cabeçalho
            function submitPesquisa() {
                $("#formPesquisa").submit();
            }         
        </script>

        <title>Acervo</title>
    </head>

    <body>
        <!-- botão LIBRAS -->
        <div vw class="enabled">
            <!-- div com botão para habilitar Libras -->
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
  
        <!-- botão SETA PARA CIMA, aparece quando o scrollY >= 400px, com a função de subir para o início da página quando clicado -->
        <aside>
            <a href="#cabecalho">
                <svg id="setaParaCima" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-circle m-0 p-0" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </a>   
        </aside>
        <header class="container-fluid sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: white;">
                <div class="container-fluid row">
                    <div class="col-2">
                        <a class="navbar-brand" href="/">
                            <img id="logo-biblio" src="/img/livro-gif.gif" alt="imagem animada de livro">
                        </a>
                    </div>
                  
                  
                    <div class="col-7">
                        <div class="container">
                            <ul class="navbar-nav d-flex justify-content-between">
                                <li class="nav-item">
                                    <a class="nav-link active h5 text-light" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active h5 text-light" aria-current="page" href="/livros/cadastrarLivro">Cadastrar Livros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active h5 text-light" aria-current="page" href="/livros">Acervo de Livros
                                        <ul id="generos-livros">
                                            <li><a href="#">Suspense/Terror</a></li>
                                            <li><a href="#">Aventura</a></li>
                                            <li><a href="#">Ficção Científica</a></li>
                                            <li><a href="#">Literatura Brasileira</a></li>
                                            <li><a href="#">Infantil</a></li>
                                        </ul>
                                    </a>
                                </li>
                            </ul>
                        </div>                       
                    </div>

                    <div class="col-3 d-flex justify-content-end">
                        <!-- CAMPO/FORM DE BUSCA -->
                        <section class="d-flex">
                            <form action="/resultadosPesquisa" method="GET" class="form" id="formPesquisa">
                                <div class="input-group">                              
                                    <input type="search" name="busca" class="form-control" placeholder="Busca Autor/Título/Gênero/Editora" title="Busca por Autor / Título / Gênero / Editora">                               
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <a href="#" onclick="submitPesquisa()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" value="search">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                </svg>
                                            </a>                                           
                                        </div>
                                    </div>
                                </div>
                            </form>  
                        </section>
                    </div>                       
                </div>
            </nav>
        </header>