<div class="container">
    <div class="row text-center">
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/playground1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Eco Play Ground</h5>
                <p class="card-text">Parquinho para as crianças feito de plástico reciclável</p>
                <p class="card-text">30.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/materialEscola.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Material Didático</h5>
                <p class="card-text">Livros, outros materiais didáticos e folhas A4 reciclável</p>
                <p class="card-text">10.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/ecobloco.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Ecobloco de Concreto</h5>
                <p class="card-text">Item para jardinagem, horta e reforma.</p>
                <p class="card-text">4.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/petra.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Cerveja Petra</h5>
                <p class="card-text">Garanta a confraternização de final de ano da sua escola</p>
                <p class="card-text">1000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/dataShow.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Data Show</h5>
                <p class="card-text">Equipamento para melhorar a infraestrutura da escola</p>
                <p class="card-text">11.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/curso.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Cursos Profissionalizantes</h5>
                <p class="card-text">Capacitação e aprimoramento para professores</p>
                <p class="card-text">10.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/voucher.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Vale Reforma</h5>
                <p class="card-text">Voucher para pequenas melhorias na escola</p>
                <p class="card-text">15.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/visita.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Visita Técnica ao Grupo Petrópolis</h5>
                <p class="card-text">Traga sua equipe para conhecer as instalações do Grupo Petrópolis</p>
                <p class="card-text">2.000xps</p>
            </div>
        </div>
    </div>
</div>