<div class="container">
    <div class="row text-center">
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/petra.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Petra</h5>
                <p class="card-text">Cerveja Petra Origem Puro Malte 350ml - Pack 12 unds</p>
                <p class="card-text">2.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/maquinario.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Maquinário</h5>
                <p class="card-text">Maquinário para reciclagem</p>
                <p class="card-text">200.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/bolsaTermica.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Bolsa Termica</h5>
                <p class="card-text">Bolsa Térmica Petra Origem Puro Malte</p>
                <p class="card-text">5.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/cestaBasica.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Cesta Basica</h5>
                <p class="card-text">Cesta básica 20 itens de consumo.</p>
                <p class="card-text">12.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/acessorio.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Kit Acessório + Cerveja</h5>
                <p class="card-text">Kit Porta Cerveja Eco Plástico + Cerveja + Tulipa Eco Vidro</p>
                <p class="card-text">8.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/tnt.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">TNT</h5>
                <p class="card-text">Kit TNT + Bone</p>
                <p class="card-text">4.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/voucher.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Vale Cinema</h5>
                <p class="card-text">Vale duas entrada em qualquer cinema da Rede Cinemax.</p>
                <p class="card-text">4.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/ecotenis.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Eco Tênis</h5>
                <p class="card-text">Tênis feito com material reciclá. Lona e roda de caminhão.</p>
                <p class="card-text">2.000xps</p>
            </div>
        </div>
    </div>
</div>