<div class="container">
    <div class="row">
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/tablet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tablet</h5>
                <p class="card-text">Apple iPad 8ª Geração 10.2", Wi-Fi, 128GB Space Gray - A2270</p>
                <p class="card-text">20.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/celular.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Celular</h5>
                <p class="card-text">Apple iPad 8ª Geração 10.2", Wi-Fi, 128GB Space Gray - A2270</p>
                <p class="card-text">15.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/cozinha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cozinha Bioplastic</h5>
                <p class="card-text">Cozinha feita a partir de plástico reciclável</p>
                <p class="card-text">10.000xps</p>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/tenis.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eco Tênis Infantil</h5>
                <p class="card-text">Fabricado com roda e lona de caminhão</p>
                <p class="card-text">8.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/lapis.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Caixa de Eco Lapis</h5>
                <p class="card-text">Lápis de Cor 12 Cores Linha Ecológico Sextavado</p>
                <p class="card-text">4.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/livro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Livro interativo</h5>
                <p class="card-text">O mundo dos animais : Um interativo atlas dos animais Capa dura – Livro com
                    dobradura</p>
                <p class="card-text">4.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/fantasia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eco Fantasia</h5>
                <p class="card-text">Fantasia infantil produzida a partir de tecido feito com PET</p>
                <p class="card-text">7.000xps</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="/images/Premios/lego.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eco Lego</h5>
                <p class="card-text">Lego produzido a partir da reciclagem de PET</p>
                <p class="card-text">2.000xps</p>
            </div>
        </div>
    </div>
</div>
